# =============== #
# Unity Generated #
# =============== #

[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# Asset meta data should be included
# but not the asset store tools folder
[Aa]sset[Ss]tore/

# Crash Reports
sysinfo.txt

# ================= #
# Visual Studio / OS #
# ================= #
.vs/
.vscode/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
.DS_Store
Thumbs.db
